.container {
    display: grid;
    /*grid-template-columns: 100px auto 100px;*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*grid-template-rows: 50px 50px;*/
    grid-template: repeat(2, 100px) / repeat(3, 1fr); /*rows / columns*/
    grid-gap: 3px;
}